.container {
    margin:0 auto;
    width: 800px
}
.text-input {
    width: 200px;
}
.input1 {
    margin-left: 33px;
}
.input2 {
    margin-left: 22px;
}
.input3 {
    margin-left: 4px;
}
.input4 {
    margin-left: 40px;
}
.input5 {
    margin-left:9px;
}
.login-section{
    margin-top:20px;
}
.table-div{
    padding-top: 15px;
    clear: both;
}
.input-quantity{
    width: 50px;
}
.add{
    float: left;
}
.table{
    margin-top:10px
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.scrollable{
    height: 300px;
    overflow: scroll;
}
.fa fa-search{
    float:left;
}
.total{
    float:right;
}
h2{
    margin-top: 0px;
    margin-bottom: 0px;
}
.footer{
    height: 100px;
}
.invoice-info{
    float:left;
    padding-top:0px;
    padding-bottom:0px;
}
.invoice-image{
    float: right;
}
.modal-body{
    padding-top: 5px;
}
.modal-footer{
    clear: both;
}
.invoice-company-name{
    font-size: 24px;
}
.invoice-main{
    clear: both;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.invoice-final{
    clear:both;
    margin-bottom: 10px;
}
.print-text{
    font-size: medium;
}
.total-final{
    float:right;
    font-size: 24px;
    margin-top:10px;
}
