.container {
    margin:0 auto;
    width: 800px
}
.text-input {
    width: 200px;
}
.input1 {
    margin-left: 33px;
}
.input2 {
    margin-left: 22px;
}
.input3 {
    margin-left: 4px;
}
.login-section{
    margin-top:20px;
}
.table-div{
    padding-top: 60px;
    clear: both;
}
.input-quantity{
    width: 50px;
}
.add{
    float: left;
}
.table{
    margin-top:10px
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
