<html ng-app="invoiceApp">
<head>
    <title>Steel Brick Coding Challenge Invoices</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/angular-animate.js"></script>
    <script type="text/javascript" src="js/invoice-app.js"></script>
</head>
<body ng-controller="InvoiceCtrl">
    <div class="container" width="800px" id="container">
        <div class="title-section" style="text-align: center">
            <h1>Steel Brick Invoices</h1>
        </div>
        <div class="login-section" style="float:left">
            Name: <input class="text-input input1" field="text" value="John Doe"/><br>
            Address:<input class="text-input input2" field="text" value="The LandMark at One Market"/><br>
            City / State:<input class="text-input input3" field="text" value="San Francisco, CA">
        </div>
        <div class="company-section" style="float:right">
            <img src="images/steelbrick.png"/>
        </div>
        <div class="table-div" id="table-div">
            <a data-toggle="modal" href="#myModal" class="btn btn-primary">Add Item</a>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Delete?</th>
            </tr>
            <tr ng-repeat="item in invoice">
                <td>{{item.id}}</td>
                <td><img ng-src="{{item.image}}"/>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td><input type="text" class="input-quantity" ng-model="item.quantity" ng-change="updateTotal(item.id)"/></td>
                <td>{{item.total}}</td>
                <td><input type="button" value="Remove" class="btn btn-primary" ng-click="removeRow(item.id)"/></td>
            </tr>
        </table>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Catalog</h4>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>

</body>
</html>
